{% extends 'base.html.twig' %}

{% block title %}Новый курс{% endblock %}

{% block body %}
    <h5>Создание курса</h5>
    <a class="form-button nav-link text-light" style="width: 185px;display: block;text-align: center;" role="button"
       href="{{ path('app_course_index') }}">Вернуться к курсам</a>

    {{ include('course/_form.html.twig') }}

{% endblock %}
