{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <form method="post" class="container">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="login-page">
            <div class="form">
                <form class="login-form">
                    <h1>Авторизация</h1>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email"
                           required autofocus class="info form-control" placeholder="Электронная почта"/>
                    <input type="password" name="password" id="inputPassword" autocomplete="current-password" required
                           class="info form-control" placeholder="Пароль"/>
                    <div class="checkbox info" style="background: none">
                        <label class="d-flex">
                            <input class="me-2" type="checkbox" name="_remember_me"> Запомнить меня
                        </label>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <button class="form-button" type="submit">ВОЙТИ</button>
                    <p class="message">Еще не зарегистрированы? <a href="{{ path('app_registration') }}">Создать аккаунт</a></p>
                </form>
            </div>
        </div>
    </form>
    <style>
    </style>
{% endblock %}