{% extends 'base.html.twig' %}

{% block title %}{{ 'Создание урока / ' ~ course.name ~ ' / StudyOn' }}{% endblock %}

{% block body %}
    {{ include('lesson/_form.html.twig') }}

    <a href="{{ path('app_course_show', {'id': course.id}) }}">Вернуться к курсу</a>
{% endblock %}
