{% extends 'base.html.twig' %}

{% block title %}{{ 'Создание урока / ' ~ course.title ~ ' / StudyOn' }}{% endblock %}

{% block body %}
    <h5>Создание урока</h5>
    <a class="form-button nav-link text-light mb-2" style="width: 185px;display: block;text-align: center;"
       role="button" href="{{ path('app_course_show', {'id': course.id}) }}">Вернуться
        к курсу</a>

    {{ include('lesson/_form.html.twig') }}

{% endblock %}
