{% extends 'base.html.twig' %}

{% block title %}Новый урок{% endblock %}

{% block body %}
    {{ include('lesson/_form.html.twig') }}

    <a href="{{ path('app_course_show', {'id': lesson.course.id}) }}">Вернуться к курсу</a>
{% endblock %}
