<body>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-muted">© 2023 Study-on, Inc</span>
    </div>
    <ul class="nav pr-3 justify-content-center list-unstyled d-flex">
        <!-- Section: Social media -->
    </ul>
</footer>
</body>
<style>
    .btn-circle {
        width: 40px;
        height: 40px;
        line-height: 40px; /* adjust line height to align vertically*/
        padding: 0;
        border-radius: 50%;
    }
</style>
